# Netflix Data Cleaning

In [50]:
import pandas as pd

In [51]:
df = pd.read_csv('DataSets/netflix.csv')

In [ ]:
df

,show_id,type,title,director,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,PG-13,90 min,Documentaries
1,s3,TV Show,Ganglands,Julien Leclercq,France,9/24/2021,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,s6,TV Show,Midnight Mass,Mike Flanagan,United States,9/24/2021,2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries"
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9/22/2021,2021,TV-PG,91 min,"Children & Family Movies, Comedies"
4,s8,Movie,Sankofa,Haile Gerima,United States,9/24/2021,1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies"
...,...,...,...,...,...,...,...,...,...,...
8785,s8797,TV Show,Yunus Emre,Not Given,Turkey,1/17/2017,2016,TV-PG,2 Seasons,"International TV Shows, TV Dramas"
8786,s8798,TV Show,Zak Storm,Not Given,United States,9/13/2018,2016,TV-Y7,3 Seasons,Kids' TV
8787,s8801,TV Show,Zindagi Gulzar Hai,Not Given,Pakistan,12/15/2016,2012,TV-PG,1 Season,"International TV Shows, Romantic TV Shows, TV ..."
8788,s8784,TV Show,Yoko,Not Given,Pakistan,6/23/2018,2016,TV-Y,1 Season,Kids' TV
8789,s8786,TV Show,YOM,Not Given,Pakistan,6/7/2018,2016,TV-Y7,1 Season,Kids' TV

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8790 entries, 0 to 8789
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8790 non-null   object
 1   type          8790 non-null   object
 2   title         8790 non-null   object
 3   director      8790 non-null   object
 4   country       8790 non-null   object
 5   date_added    8790 non-null   object
 6   release_year  8790 non-null   int64
 7   rating        8790 non-null   object
 8   duration      8790 non-null   object
 9   listed_in     8790 non-null   object
dtypes: int64(1), object(9)
memory usage: 686.8+ KB

In [54]:
"""
Delecting redundant columns
Renaming the columns
Dropping duplicate rows
Remove the NaN values in the dataset
Check the some more Transformations
"""

'\nDelecting redundant columns\nRenaming the columns\nDropping duplicate rows\nRemove the NaN values in the dataset\nCheck the some more Transformations\n'

In [55]:
df.drop(columns='rating', inplace=True)

In [56]:
df.columns = df.columns.str.capitalize()

In [57]:
df.head()

,Show_id,Type,Title,Director,Country,Date_added,Release_year,Duration,Listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9/25/2021,2020,90 min,Documentaries
1,s3,TV Show,Ganglands,Julien Leclercq,France,9/24/2021,2021,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,s6,TV Show,Midnight Mass,Mike Flanagan,United States,9/24/2021,2021,1 Season,"TV Dramas, TV Horror, TV Mysteries"
3,s14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9/22/2021,2021,91 min,"Children & Family Movies, Comedies"
4,s8,Movie,Sankofa,Haile Gerima,United States,9/24/2021,1993,125 min,"Dramas, Independent Movies, International Movies"

# Drop Duplicates

In [58]:
df.duplicated().sum()

np.int64(0)

In [59]:
# for cleaning duplicate
df.drop_duplicates(inplace=True)

# Remove the NaN values from the datasets

In [60]:
df.isna().sum()

Show_id         0
Type            0
Title           0
Director        0
Country         0
Date_added      0
Release_year    0
Duration        0
Listed_in       0
dtype: int64

In [61]:
# If we had na values
df.dropna(inplace=True)

In [62]:
# df['Show_id'] = df['Show_id'].apply(lambda x: x.split('s')[1])
df['Show_id'] = df["Show_id"].str.replace('s', '', regex=False).astype(int)

In [63]:
df['Show_id']

0          1
1          3
2          6
3         14
4          8
        ...
8785    8797
8786    8798
8787    8801
8788    8784
8789    8786
Name: Show_id, Length: 8790, dtype: int64

In [64]:
df['Date_added'] = df['Date_added'].str.replace('/', '-')
# df["Date_added"] = df["Date_added"].apply(lambda x: x.replace("/","-"))

In [65]:
df

,Show_id,Type,Title,Director,Country,Date_added,Release_year,Duration,Listed_in
0,1,Movie,Dick Johnson Is Dead,Kirsten Johnson,United States,9-25-2021,2020,90 min,Documentaries
1,3,TV Show,Ganglands,Julien Leclercq,France,9-24-2021,2021,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
2,6,TV Show,Midnight Mass,Mike Flanagan,United States,9-24-2021,2021,1 Season,"TV Dramas, TV Horror, TV Mysteries"
3,14,Movie,Confessions of an Invisible Girl,Bruno Garotti,Brazil,9-22-2021,2021,91 min,"Children & Family Movies, Comedies"
4,8,Movie,Sankofa,Haile Gerima,United States,9-24-2021,1993,125 min,"Dramas, Independent Movies, International Movies"
...,...,...,...,...,...,...,...,...,...
8785,8797,TV Show,Yunus Emre,Not Given,Turkey,1-17-2017,2016,2 Seasons,"International TV Shows, TV Dramas"
8786,8798,TV Show,Zak Storm,Not Given,United States,9-13-2018,2016,3 Seasons,Kids' TV
8787,8801,TV Show,Zindagi Gulzar Hai,Not Given,Pakistan,12-15-2016,2012,1 Season,"International TV Shows, Romantic TV Shows, TV ..."
8788,8784,TV Show,Yoko,Not Given,Pakistan,6-23-2018,2016,1 Season,Kids' TV
8789,8786,TV Show,YOM,Not Given,Pakistan,6-7-2018,2016,1 Season,Kids' TV

In [66]:
df.columns

Index(['Show_id', 'Type', 'Title', 'Director', 'Country', 'Date_added',
       'Release_year', 'Duration', 'Listed_in'],
      dtype='object')

In [67]:
df.groupby("Country").size()

Country
Argentina        76
Australia       114
Austria           9
Bangladesh        3
Belarus           1
               ...
Uruguay           9
Venezuela         2
Vietnam           7
West Germany      1
Zimbabwe          1
Length: 86, dtype: int64

In [69]:
df.groupby('Type').size()

Type
Movie      6126
TV Show    2664
dtype: int64

In [70]:
df.groupby('Listed_in').size()

Listed_in
Action & Adventure                                              128
Action & Adventure, Anime Features                                1
Action & Adventure, Anime Features, Children & Family Movies      4
Action & Adventure, Anime Features, Classic Movies                2
Action & Adventure, Anime Features, Horror Movies                 1
                                                               ...
TV Horror, TV Mysteries, Teen TV Shows                            1
TV Horror, Teen TV Shows                                          2
TV Sci-Fi & Fantasy, TV Thrillers                                 1
TV Shows                                                         16
Thrillers                                                        65
Length: 513, dtype: int64

In [72]:
df.groupby("Country")['Director'].count()

Country
Argentina        76
Australia       114
Austria           9
Bangladesh        3
Belarus           1
               ...
Uruguay           9
Venezuela         2
Vietnam           7
West Germany      1
Zimbabwe          1
Name: Director, Length: 86, dtype: int64

In [73]:
df.groupby("Type")['Date_added'].count()

Type
Movie      6126
TV Show    2664
Name: Date_added, dtype: int64

In [76]:
df.groupby('Country')['Release_year'].agg(['min','max','count'])

               min   max  count
Country
Argentina     1985  2021     76
Australia     1979  2021    114
Austria       2014  2020      9
Bangladesh    2017  2018      3
Belarus       2016  2016      1
...            ...   ...    ...
Uruguay       2004  2021      9
Venezuela     2007  2017      2
Vietnam       2014  2021      7
West Germany  1977  1977      1
Zimbabwe      2017  2017      1

[86 rows x 3 columns]

In [77]:
df.groupby(['Type','Country']).agg({
    'Release_year':['mean','min','max'],
    'Show_id':'count'
})

                             Release_year             Show_id
                                     mean   min   max   count
Type    Country
Movie   Argentina             2014.821429  1985  2021      56
        Australia             2013.262295  1979  2021      61
        Austria               2017.625000  2014  2020       8
        Bangladesh            2017.666667  2017  2018       3
        Belgium               2017.777778  2015  2021       9
...                                   ...   ...   ...     ...
TV Show Ukraine               2016.000000  2015  2017       2
        United Arab Emirates  2021.000000  2021  2021       1
        United Kingdom        2015.808765  1972  2021     251
        United States         2016.550296  1945  2021     845
        Uruguay               2021.000000  2021  2021       1

[138 rows x 4 columns]