# Zomato Practice

In [153]:
import pandas as pd

In [154]:
df = pd.read_csv("DataSets/zomato.csv")

In [155]:
df.head(3)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari

In [156]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  object
 4   book_table                   51717 non-null  object
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51371 non-null  object
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(16)
memory usage: 6.7+ MB

In [157]:
df.shape

(51717, 17)

In [158]:
"""
Deleting Redundant Columns
Renaming the columns
Droping duplicate 
Remove the NaN values from the dataset
Cleaning invalid columns
Check for some more Transformations
"""

'\nDeleting Redundant Columns\nRenaming the columns\nDroping duplicate \nRemove the NaN values from the dataset\nCleaning invalid columns\nCheck for some more Transformations\n'

# Deleting Redundent Columns

In [159]:
df.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [160]:
columns_to_keep = ['name', 'online_order', 'book_table', 'rate','dish_liked', 'approx_cost(for two people)']
columns_to_drop = ['url', 'address', 'votes', 'phone', 'location','cuisines', 'reviews_list', 'menu_item', 'listed_in(type)', 'listed_in(city)']

In [161]:
df.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [162]:
len(columns_to_keep), len(columns_to_drop)

(6, 10)

# 1st Way filtering Data

In [163]:
modify_df = df[columns_to_keep]
modify_df

,name,online_order,book_table,rate,dish_liked,approx_cost(for two people)
0,Jalsa,Yes,Yes,4.1/5,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...",800
1,Spice Elephant,Yes,No,4.1/5,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...",800
2,San Churro Cafe,Yes,No,3.8/5,"Churros, Cannelloni, Minestrone Soup, Hot Choc...",800
3,Addhuri Udupi Bhojana,No,No,3.7/5,Masala Dosa,300
4,Grand Village,No,No,3.8/5,"Panipuri, Gol Gappe",600
...,...,...,...,...,...,...
51712,Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,NaN,"1,500"
51713,Vinod Bar And Restaurant,No,No,NaN,NaN,600
51714,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,NaN,"2,000"
51715,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,"Cocktails, Pizza, Buttermilk","2,500"
51716,The Nest - The Den Bengaluru,No,No,3.4 /5,NaN,"1,500"

# 2nd way, droping the columns

In [164]:
df.drop(columns=columns_to_drop, inplace=True)

In [165]:
df

,name,online_order,book_table,rate,rest_type,dish_liked,approx_cost(for two people)
0,Jalsa,Yes,Yes,4.1/5,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...",800
1,Spice Elephant,Yes,No,4.1/5,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...",800
2,San Churro Cafe,Yes,No,3.8/5,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...",800
3,Addhuri Udupi Bhojana,No,No,3.7/5,Quick Bites,Masala Dosa,300
4,Grand Village,No,No,3.8/5,Casual Dining,"Panipuri, Gol Gappe",600
...,...,...,...,...,...,...,...
51712,Best Brews - Four Points by Sheraton Bengaluru...,No,No,3.6 /5,Bar,NaN,"1,500"
51713,Vinod Bar And Restaurant,No,No,NaN,Bar,NaN,600
51714,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,NaN,Bar,NaN,"2,000"
51715,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,4.3 /5,Bar,"Cocktails, Pizza, Buttermilk","2,500"
51716,The Nest - The Den Bengaluru,No,No,3.4 /5,"Bar, Casual Dining",NaN,"1,500"

# Rename The columns

In [166]:
df.columns = df.columns.str.upper().str.replace(' ', '_')

In [167]:
df.columns

Index(['NAME', 'ONLINE_ORDER', 'BOOK_TABLE', 'RATE', 'REST_TYPE', 'DISH_LIKED',
       'APPROX_COST(FOR_TWO_PEOPLE)'],
      dtype='object')

# Dropping Duplicates

In [168]:
df.duplicated().sum()

np.int64(32680)

In [169]:
df.duplicated().value_counts()

True     32680
False    19037
Name: count, dtype: int64

In [170]:
df.drop_duplicates(inplace=True)

In [171]:
df.duplicated().sum()

np.int64(0)

# Remove the NaN Value from DataSets

In [172]:
df.isna().sum()

NAME                               0
ONLINE_ORDER                       0
BOOK_TABLE                         0
RATE                            2473
REST_TYPE                         96
DISH_LIKED                     10711
APPROX_COST(FOR_TWO_PEOPLE)      140
dtype: int64

In [173]:
df.drop(columns=['REST_TYPE'], inplace=True)

In [174]:
df.isna().sum()

NAME                               0
ONLINE_ORDER                       0
BOOK_TABLE                         0
RATE                            2473
DISH_LIKED                     10711
APPROX_COST(FOR_TWO_PEOPLE)      140
dtype: int64

In [175]:
df.dropna(inplace=True)

In [176]:
df.isna().sum()

NAME                           0
ONLINE_ORDER                   0
BOOK_TABLE                     0
RATE                           0
DISH_LIKED                     0
APPROX_COST(FOR_TWO_PEOPLE)    0
dtype: int64

In [177]:
df.reset_index(inplace=True)
df.drop(columns=['index'], inplace=True)
df.drop(columns=['level_0'], inplace=True)

KeyError: "['level_0'] not found in axis"

# Cleaning Indivitual columns

In [ ]:
df["RATE"]

0        4.1/5
1        4.1/5
2        3.8/5
3        3.7/5
4        3.8/5
         ...
8249    2.5 /5
8250    3.6 /5
8251    3.8 /5
8252    4.2 /5
8253    2.5 /5
Name: RATE, Length: 8254, dtype: object

In [178]:
df["RATE"] = df["RATE"].str.replace(' ','').str.strip()

In [179]:
df["RATE"] = df["RATE"].str.replace('/',' out of ')

In [181]:
df

,NAME,ONLINE_ORDER,BOOK_TABLE,RATE,DISH_LIKED,APPROX_COST(FOR_TWO_PEOPLE)
0,Jalsa,Yes,Yes,4.1 out of 5,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...",800
1,Spice Elephant,Yes,No,4.1 out of 5,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...",800
2,San Churro Cafe,Yes,No,3.8 out of 5,"Churros, Cannelloni, Minestrone Soup, Hot Choc...",800
3,Addhuri Udupi Bhojana,No,No,3.7 out of 5,Masala Dosa,300
4,Grand Village,No,No,3.8 out of 5,"Panipuri, Gol Gappe",600
...,...,...,...,...,...,...
8249,Chung Wah,No,No,2.5 out of 5,Manchow Soup,800
8250,Breakfast House,No,No,3.6 out of 5,"Coffee, Vada, Mla Dosa",300
8251,Fujian Express,Yes,No,3.8 out of 5,"Noodles, Chicken Noodle, Momos, American Chops...",600
8252,Nook - Aloft Bengaluru Cessna Business Park,No,Yes,4.2 out of 5,"Chicken Quesadilla, Naan, Breakfast Buffet, Ch...","1,800"
8253,Bhagini,No,No,2.5 out of 5,"Biryani, Andhra Meal",800

In [184]:
df['ONLINE_ORDER'] = df['ONLINE_ORDER'].map({'Yes':1, 'No':0,})

In [183]:
df['ONLINE_ORDER']

0       1
1       1
2       1
3       0
4       0
       ..
8249    0
8250    0
8251    1
8252    0
8253    0
Name: ONLINE_ORDER, Length: 8254, dtype: int64

In [186]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8254 entries, 0 to 8253
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   NAME                         8254 non-null   object
 1   ONLINE_ORDER                 0 non-null      float64
 2   BOOK_TABLE                   8254 non-null   object
 3   RATE                         8254 non-null   object
 4   DISH_LIKED                   8254 non-null   object
 5   APPROX_COST(FOR_TWO_PEOPLE)  8254 non-null   object
dtypes: float64(1), object(5)
memory usage: 387.0+ KB

In [185]:
df.to_csv("DataSets/zomato_cleaned.csv", index=False)